/* estilo.css */

body {
  margin: 0;
  /* Configuração do plano de fundo */
  background-image: url("https://th.bing.com/th/id/R.6fb919a79e342539288b0ec884337e55?rik=pknx6EjMmfIHxg&riu=http%3a%2f%2fwww.actionacademia.com.br%2fbackground2.jpg&ehk=0laZVmk3O3KhZYQuOJlHhreCcjEIzycAMyX9zw9DGt4%3d&risl=&pid=ImgRaw&r=0");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /* Configurações de fonte e margem */
  font-family: Arial, sans-serif;
  padding: 0;
}

.nav-bar a {
  /* Estilo dos links da barra de navegação */
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}

.nav-bar a.menu-inicial {
  /* Estilo do primeiro link da barra de navegação */
  margin-left: 0;
}

.nav-bar a:hover {
  /* Estilo ao passar o mouse sobre os links da barra de navegação */
  text-decoration: underline;
  color: white;
}

/* Estilos para telas menores (responsividade) */
@media screen and (max-width: 768px) {
  .nav-bar a:not(:first-child) {
    /* Esconde os links, exceto o primeiro, em telas menores */
    display: none;
  }

  .nav-bar a.menu-inicial {
    /* Estilo do primeiro link em telas menores */
    margin-left: 10px;
  }

  .hamburger {
    /* Estilo do ícone de menu em telas menores */
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }

  .hamburger .line {
    /* Estilo das linhas do ícone de menu em telas menores */
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }

  .dropdown-content {
    /* Estilo do conteúdo do dropdown em telas menores */
    position: static;
    display: none;
    background-color: rgb(32, 240, 32);
    padding: 12px 16px;
  }

  .dropdown-content a {
    /* Estilo dos links no conteúdo do dropdown em telas menores */
    display: block;
    padding: 5px 0;
  }

  .dropdown:hover .dropdown-content {
    /* Esconde o conteúdo do dropdown ao passar o mouse sobre o elemento pai em telas menores */
    display: none;
  }

  .dropdown:hover .dropdown-content.show {
    /* Exibe o conteúdo do dropdown ao passar o mouse sobre o elemento pai em telas menores */
    display: block;
  }
}

/* Estilo para o formulário */
form {
  /* Configurações do formulário */
  width: 300px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 5px;
  margin-top: 10%;
  background: #335033;
}

/* Estilo para campos de número e altura */
input[type="number"],
#altura {
  width: 100%;
  padding: 15px;
  border: 2px solid rgb(35, 192, 82);
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Estilo para o botão de calcular */
button[name="confirmado"] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px 0;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #335033;
  cursor: pointer;
}

button[name="confirmado"]:hover {
  background-color: #228b22;
}
h3 {
  color: #ffffff;
  text-align: center;
}
p {
  color: #fff;
  text-align: center;
}

h2 {
  color: white;
}
