body {
    /* Configuração do plano de fundo */
    background-image: url("https://th.bing.com/th/id/R.6fb919a79e342539288b0ec884337e55?rik=pknx6EjMmfIHxg&riu=http%3a%2f%2fwww.actionacademia.com.br%2fbackground2.jpg&ehk=0laZVmk3O3KhZYQuOJlHhreCcjEIzycAMyX9zw9DGt4%3d&risl=&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
    /* Configurações de fonte e margem */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  /* conhecendo.css */

  .container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color:white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    background-color:white
}

h2 {
    font-size: 18px;
    margin-bottom: 30px;
    background-color: white;
}

h3 {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 10px;
    background-color:white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 14px;
    margin-bottom: 5px;
    background-color:white;
}