body {
  background-image: url("/img/fotos_site/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 60px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  flex-grow: 1;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

main {
  display: flex;
  justify-content: center;
}

form {
  display: grid;
  justify-content: center;
  width: 330px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin: 0 auto;
}

label {
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  height: 33px;
  padding: 5px;
  font-size: 18px;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
}

select {
  outline: none;
  height: 32px;
  font-size: 20px;
  border: none;
}

button {
  height: 45px;
  padding: 0 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 30px;
}

button:hover {
  box-sizing: border-box;
  transition: 0.8s;
  cursor: pointer;
  font-weight: 500;
  font-size: 21px;
  background-color: #45a049;
}

h1 {
  font-size: 25px;
}

a {
  position: absolute;
  top: 20px;
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: 20px;
}
