body {
  margin: 0;
  display: flex;
  background-image: url(../img/fotos_site/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: center;
}

.form_container {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  padding: 0px 30px;
  width: 320px;
  height: 600px;
  border-radius: 4px;
}

h1 {
  align-items: center;
  margin: 0px;
  padding: 0px;
  height: 200px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

img {
  width: 200px;
  height: 200px;
  padding: 0px;
}

p {
  background-color: red;
  color: white;
  text-align: center;
  font-size: 20px;
}

form input:focus {
  border: #00ff00 solid 3px;
}

form {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #2f2f2f;
  width: 300px;
  height: 500px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #00ff00;
  margin: 0px;
  padding: 0px;
  margin: 15px 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #a1a1a1;
  font-size: 18px;
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  height: 30px;
  box-sizing: border-box;
  outline: none;
  font-size: 20px;
  border-radius: 4px;
  padding: 5px;
}

.botao-login {
  margin: 30px 0px 10px;
  width: 130px;
  height: 40px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #a1a1a1;
  border: none;
  color: #454545;
  border-radius: 4px;
}

.botao-login:hover {
  transition: 0.6s;
  cursor: pointer;
  background-color: #00ff00;
  color: #252525;
  font-size: 20px;
}

.botao-cadastro {
  font-size: 19px;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.botao-cadastro:hover {
  color: #00ff00;
  text-decoration: underline;
}

a:first-child {
  font-size: 20px;
  color: white;
  position: absolute;
  left: 10px;
}
